extends header
block append content
	div(width='1002').container
		div.row(align='center')
			//关于页面
			img(alt="960x200",src="/images/ban_contact.jpg",align="center").img-rounded
			br
			br
		div.row
			#{filedata}