extends layout
block append head
	link(rel="stylesheet",href="/css/news.css")
block append content
	.bannerpic
		img(src="/img/ban_contact.jpg")
	.main.clearfix
		.contact.container
			.title.has-more.clearfix
				span.title-text 联系我们
				span.title-arrow
				a.more(href='/response') 更多>>
			.content
				!=contacttext
		script.
			var uyan_config = {
			'du':'shuangteng.net', 
			};
		.news.container#uyan_frame
			script(type="text/javascript",src="http://v2.uyan.cc/code/uyan.js?uid=1885629") 
