.main{
  width: 100%;
}
.main .tree{
  width: 225px;
  float: left;
}


 .infocontainer {
  /*margin-bottom: 10px;*/
   float: left;
}

 .infocontainer .casetitle {
 /*background: url(../img/bg-sprite.png) 0 -149px repeat-x;*/
  line-height: 32px;
  height: 32px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 0 16px;
  color: #000;
 /* border: solid 1px #ccc;*/
  padding: 1px;
}



.bs-docs-sidenav {
width: 200px;
margin: 0px 0 0;
padding: 0;
background-color: #fff;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav > li:first-child > a {
-webkit-border-radius: 6px 6px 0 0;
-moz-border-radius: 6px 6px 0 0;
border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li > a {
display: block;
width: 190px;
margin: 0 0 -1px;
padding: 8px 14px;
border: 1px solid #e5e5e5;
}

.bs-docs-sidenav .icon-chevron-right {
float: right;
margin-top: 2px;
margin-right: -6px;
opacity: .25;
}


.caseinfo{
  width: 750px;
  margin-left: 20px;
  margin-top: 32px;
  float: left;
}

.caseinfo>ul>li{
  width: 200px;
  margin-left: 55px;
}

.caseinfo>ul>li>a>h3{
  text-align: center;
}